fastapi
uvicorn
sqlalchemy
asyncpg
alembic
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
jose
python-multipart
python-dotenv
psycopg2-binary
email-validator
pillow
httpx
requests
firebase-admin
anthropic
email-validator
groq
websockets